<div class="header_cc_area" style="background-image:url('images/header_area.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1>Contact Us</h1>
                <p>Home / Contact Us</p>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="uni_mainWrapper uni_contact" style="min-height:500px;">

    <div class="container">

        <div class="row">

            <div class="contact-service">

                <div class="col-lg-6 col-md-6 col-xs-12 ">

                    <div class="contact_area">

                        <h4><span>Talk To Us Today</span></h4>

                    </div>
                    <div class="form_area">

                        <div class="col-lg-2">

                            <i class="fa fa-envelope" aria-hidden="true"></i>

                        </div>

                        <div class="col-lg-10">

                            <label>Email </label>

                            <p><a href="mailto:info@birtikendrajituniversity.com">info@birtikendrajituniversity.com</a>
                            </p>



                            <a href="#" data-toggle="modal" data-target=".email-modal">Informaitional Emails</a>



                            <div class="modal fade email-modal" tabindex="-1" role="dialog">

                                <div class="modal-dialog" role="document">

                                    <div class="modal-content">

                                        <div class="modal-header">

                                            <h3 class="modal-title">Informaitional Emails</h3>

                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                                                <span aria-hidden="true">&times;</span>

                                            </button>

                                        </div>

                                        <div class="modal-body">

                                            <div>

                                                <table class="table">

                                                    <thead>

                                                        <tr>

                                                            <th>Designation</th>

                                                            <th>Email</th>

                                                        </tr>

                                                    </thead>

                                                    <tbody>

                                                        <tr>

                                                            <td>

                                                                Chancellor

                                                            </td>

                                                            <td>

                                                                chancellor@birtikendrajituniversity.ac.in

                                                            </td>

                                                        </tr>

                                                        <tr>

                                                            <td>

                                                                Vice Chancellor

                                                            </td>

                                                            <td>

                                                                Vc@birtikendrajituniversity.ac.in

                                                            </td>

                                                        </tr>

                                                        <tr>

                                                            <td>

                                                                Director

                                                            </td>

                                                            <td>

                                                                director@birtikendrajituniversity.ac.in

                                                            </td>

                                                        </tr>

                                                        <tr>

                                                            <td>

                                                                Resident director

                                                            </td>

                                                            <td>

                                                                residentdirector@birtikendrajituniversity.ac.in

                                                            </td>

                                                        </tr>

                                                        <tr>

                                                            <td>

                                                                Deputy registrar

                                                            </td>

                                                            <td>

                                                                deputyregistrar@birtikendrajituniversity.ac.in

                                                            </td>

                                                        </tr>

                                                        <tr>

                                                            <td>

                                                                IT

                                                            </td>

                                                            <td>

                                                                it@birtikendrajituniversity.ac.in

                                                            </td>

                                                        </tr>

                                                        <tr>

                                                            <td>

                                                                Accounts

                                                            </td>

                                                            <td>

                                                                accounts@birtikendrajituniversity.ac.in

                                                            </td>

                                                        </tr>

                                                        <tr>

                                                            <td>

                                                                Feedback

                                                            </td>

                                                            <td>

                                                                feedback@birtikendrajituniversity.ac.in

                                                            </td>

                                                        </tr>

                                                        <tr>

                                                            <td>

                                                                Faculty

                                                            </td>

                                                            <td>

                                                                faculty@birtikendrajituniversity.ac.in

                                                            </td>

                                                        </tr>

                                                        <tr>

                                                            <td>

                                                                Helpline

                                                            </td>

                                                            <td>

                                                                helpline@birtikendrajituniversity.ac.in

                                                            </td>

                                                        </tr>

                                                        <tr>

                                                            <td>

                                                                Request

                                                            </td>

                                                            <td>

                                                                request@birtikendrajituniversity.ac.in

                                                            </td>

                                                        </tr>

                                                        <tr>

                                                            <td>

                                                                Exam controller

                                                            </td>

                                                            <td>

                                                                examcontroller@birtikendrajiuniversity.ac.in

                                                            </td>

                                                        </tr>

                                                    </tbody>

                                                </table>

                                            </div>

                                        </div>

                                        <div class="modal-footer">

                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="clearfix"></div>

                    </div>

                    <div class="form_area">

                        <div class="col-lg-2">

                            <i class="fa fa-university" aria-hidden="true"></i>

                        </div>

                        <div class="col-lg-10">

                            <label>Address </label>

                            <p>

                                Canchipur, South View. Imphal West, Manipur-795003
                            </p>





                        </div>

                        <div class="clearfix"></div>

                    </div>







                    <div class="form_area">

                        <div class="col-lg-2">

                            <i class="fa fa-university" aria-hidden="true"></i>

                        </div>

                        <div class="col-lg-10">

                            <label>University Campus Canchipur</label>

                            <p>Canchipur, near Manipur University, South View. Imphal West, Manipur-795003</p>

                            <p>0385-2954955</p>

                        </div>

                        <div class="clearfix"></div>

                    </div>

                    <!--<div class="form_area">

                                        <div class="col-lg-2">

                                                <i class="fa fa-university" aria-hidden="true"></i>

                                        </div>

                                        <div class="col-lg-10">

                                                <label>Admission Office</label>

                                                <p>

                                                National Institute Of Professional Education,

                                                </p>

                                                <p>

                                                93/B-26, Guru Nanak Pura, Laxmi Nagar

                                                </p>

                                                <p>

                                                Delhi-110092

                                                </p>

                                                <p>

                                                01122041900, 9354665694

                                                </p>

                                        </div>

                                        <div class="clearfix"></div>

                                </div>

                                <div class="form_area">

                                    <div class="col-lg-2">

                                            <i class="fa fa-university" aria-hidden="true"></i>

                                    </div>

                                    <div class="col-lg-10">

                                            <label>Information / Admission Office Address ( Kerala )</label>

                                            <p>

                                                Eduacharya Institute of Advanced Management & Technology Pvt Ltd.

                                            </p>

                                            <p>

                                                Door No: 65/1450, 3rd Floor, Sreemuruka Building, Near AJ Hall, Kaloor, Kochi,

                                            </p>

                                            <p>

                                                Kerala -682017

                                            </p>

                                            <p>

                                                0484 4010118, 95679 99549 

                                            </p>

                                    </div>

                                    <div class="clearfix"></div>

                                </div>

                                -->

                    <!--<div class="form_area" id="demo" style="padding: 15px;">

                                    <div class="col-lg-2">

                                            <i class="fa fa-university" aria-hidden="true"></i>

                                    </div>

                                    <div class="col-lg-10">

                                        <label>Engineering Division Exam Venue</label>

                                        <p>

                                            Bir Tikendrajit University,

                                        </p>

                                        <p>

                                            Yaingangpokpi, Ukhrul Road, Imphal East - 795145 Manipur

                                        </p>

                                    </div>

                                    <div class="clearfix"></div>

                                </div>-->
                    <!--
                                <div class="form_area">

                                    <div class="col-lg-2">

                                            <i class="fa fa-university" aria-hidden="true"></i>

                                    </div>

                                    <div class="col-lg-10">

                                            <label>Bir Tikendrajit University Rural Campus:</label>

                                            <p>

                                                Emmanuel Campus

                                            </p>

                                            <p>

                                                Yaingangpkopi, Imphal East District, Imphal Ukhrul Road, Imphal Manipur

                                            </p>

                                    </div>

                                    <div class="clearfix"></div>

                                </div>-->

                    <div class="form_area" style="display:none">

                        <div class="col-lg-2">

                            <i class="fa fa-university" aria-hidden="true"></i>

                        </div>

                        <div class="col-lg-10">

                            <label>Information / Admission Office Address ( Kerala )</label>

                            <p>

                                Eduacharya Institute of Advanced Management & Technology Pvt Ltd.

                            </p>

                            <p>

                                Door No: 65/1450, 3rd Floor, Sreemuruka Building, Near AJ Hall, Kaloor, Kochi,

                            </p>

                            <p>

                                Kerala -682017

                            </p>

                            <p>

                                admission@eduacharyainstitution.in

                            </p>

                        </div>

                        <div class="clearfix"></div>

                    </div>

                    <!--	<div class="form_area" id="demo" style="padding: 15px;">

                                    <div class="col-lg-2">

                                            <i class="fa fa-university" aria-hidden="true"></i>

                                    </div>

                                    <div class="col-lg-10">

                                        <label>Rural Campus</label>

                                        <p>College of Engineering</p>

                                        <p>

                                            Bir Tikendrajit University,

                                        </p>

                                        <p>

                                            Emmanuel Campus, Yaingangpkopi, Imphal East District, Imphal Ukhrul Road, Imphal Manipur

                                        </p>

                                    </div>

                                    <div class="clearfix"></div>

                                </div>-->



                </div>

                <div class="col-lg-6">

                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d7558165.828858951!2d86.2171538204595!3d22.334339106230672!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1suniversity%20near%20Bir%20Tikendrajit%20International%20Airport%2C%20Tipaimukh%20Rd%2C%20Hiangtam%20Lamka%2C%20Imphal%2C%20Manipur!5e0!3m2!1sen!2sin!4v1593022613697!5m2!1sen!2sin"
                        width="600" height="350" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>

                    <!--	<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d7558165.828858951!2d86.2171538204595!3d22.334339106230672!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1suniversity%20near%20Bir%20Tikendrajit%20International%20Airport%2C%20Tipaimukh%20Rd%2C%20Hiangtam%20Lamka%2C%20Imphal%2C%20Manipur!5e0!3m2!1sen!2sin!4v1593022613697!5m2!1sen!2sin" width="600" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>-->

                </div>

            </div>

        </div>

    </div>

</div>