  <div class="courses-head-content">
    <h2 class=""> <i class="fas fa-graduation-cap	tile-icons" aria-hidden="true" style="color: black;float:initial;"></i> Associate</h2>
  </div>
  <div class="row mob-center-col">
    <div class="col-md-2"></div>
    <div class="col-md-4 col-sm-4 col-xs-12" style="min-height:450px;max-height:450px">
      <div class="coursebox">
        <img class="card-img-top" src="images/courses/bechalar-of-arts.jpg" alt="Bachelor of Arts">
        <div class="card-body">
          <h5 class="card-title card-title-style">Business Entrepreneurship</h5>
          <p class="card-text">It is the process of developing, organizing and managing a new business to generate profit while assuming
            financial risk. </p>
          <div class="text-center-mob">
            <a target="_blank" href="/course/business-entrepreneurship">
              <button class="button-view-price"><span>Read More</span></button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 " style="min-height:450px;max-height:450px">
      <div class="coursebox">
        <img class="card-img-top" src="images/courses/Bachelor-of-Journalism.png" alt="Bachelor of Science">
        <div class="card-body">
          <h5 class="card-title card-title-style">Business Administration</h5>
          <p class="card-text"> 
            Business administration oversees the general operations of an organization or department. This may
            include teams support and supervision, problem solving, developing and implementing plans, and meeting
            goals. 
          </p>
          <div class="text-center-mob">
            <!--<a href="bachelor-of-science">-->
            <a target="_blank" href="/course/{{courseSlug}}">
              <button class="button-view-price"><span>Read More</span></button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="courses-head-content">
    <h2 class=""><i class="fas fa-graduation-cap	tile-icons" aria-hidden="true" style="color: black;float:initial;"></i> Bechelor</h2>
  </div>
  <div class="row mob-center-col">
    <div class="col-md-4 col-sm-4 col-xs-12" style="min-height:450px;max-height:450px">
      <div class="coursebox">
        <img class="card-img-top" src="images/courses/bechalar-of-arts.jpg" alt="Bachelor of Arts">
        <div class="card-body">
          <h5 class="card-title card-title-style">Bachelor in Marketing and Sales</h5>
          <p class="card-text">Marketing refers to the set of activities to promote a product or service, according to the needs and expectations of the client. Sales, on the other hand, are the actions to encourage customers to make a certain purchase.
          </p>
          <div class="text-center-mob">
            <!--<a href="bachelor-of-arts">-->
            <a target="_blank" href="test.html">
              <button class="button-view-price"><span>Read More</span></button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 " style="min-height:450px;max-height:450px">
      <div class="coursebox">
        <img class="card-img-top" src="images/courses/Bachelor-of-Journalism.png" alt="Bachelor of Science">
        <div class="card-body">
          <h5 class="card-title card-title-style">Bachelor in Business Administration with a Minor in Management Information Systems
          </h5>
          <p class="card-text">Business administration oversees the general operations of an organization or department. This may include teams support and supervision, problem solving, developing and implementing plans, and meeting goals.
          </p>
          <div class="text-center-mob">
            <!--<a href="bachelor-of-science">-->
            <a target="_blank" href="bachelor-of-science.html">
              <button class="button-view-price"><span>Read More</span></button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 " style="min-height:450px;max-height:450px">
      <div class="coursebox">
        <img class="card-img-top" src="images/courses/Bachelor-of-Journalism.png" alt="Master of Science">
        <div class="card-body">
          <h5 class="card-title card-title-style">Bachelor in Health Service Administration
          </h5>
          <p class="card-text">Health Services Administration is the planning, direction and coordination of medical and health services. Healthcare administrators may manage an entire facility, a specific clinical area or department, or a medical practice for a group of physicians.
          </p>
          <div class="text-center-mob">
            <!--<a href="master-of-science">-->
            <a target="_blank" href="master-of-science.html">
              <button class="button-view-price"><span>Read More</span></button>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="courses-head-content">
    <h2 class=""> <i class="fas fa-graduation-cap	tile-icons" aria-hidden="true" style="color: black;float:initial;"></i> Master</h2>
  </div>
  <div class="row mob-center-col">
    <div class="col-md-4 col-sm-4 col-xs-12" style="min-height:450px;max-height:450px">
      <div class="coursebox">
        <img class="card-img-top" src="images/courses/bechalar-of-arts.jpg" alt="Bachelor of Arts">
        <div class="card-body">
          <h5 class="card-title card-title-style">Master in Education with Concentration in Digital Technologies
          </h5>
          <p class="card-text">It allows immersive simulations (for example, role-playing, augmented reality, and virtual reality) where students enter experiences from authentic situations, and that constitute, in doing so, another perspective of structuring in pedagogy.
          </p>
          <div class="text-center-mob">
            <!--<a href="bachelor-of-arts">-->
            <a target="_blank" href="test.html">
              <button class="button-view-price"><span>Read More</span></button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 " style="min-height:450px;max-height:450px">
      <div class="coursebox">
        <img class="card-img-top" src="images/courses/Bachelor-of-Journalism.png" alt="Bachelor of Science">
        <div class="card-body">
          <h5 class="card-title card-title-style">Master in Business Administration in Human Resources Management
          </h5>
          <p class="card-text">Business administration oversees the general operations of an organization or department. This may include teams support and supervision, problem solving, developing and implementing plans, and meeting goals.</p>
          <div class="text-center-mob">
            <!--<a href="bachelor-of-science">-->
            <a target="_blank" href="bachelor-of-science.html">
              <button class="button-view-price"><span>Read More</span></button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 " style="min-height:450px;max-height:450px">
      <div class="coursebox">
        <img class="card-img-top" src="images/courses/Bachelor-of-Journalism.png" alt="Master of Science">
        <div class="card-body">
          <h5 class="card-title card-title-style">Master in Business Administration (MBA)
          </h5>
          <p class="card-text">Business administration oversees the general operations of an organization or department. This may include teams support and supervision, problem solving, developing and implementing plans, and meeting goals.
          </p>
          <div class="text-center-mob">
            <!--<a href="master-of-science">-->
            <a target="_blank" href="/course/{{test}}">
              <button class="button-view-price"><span>Read More</span></button>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
