<div class="nav_bar_area">

  <!-- <button class="top-btn-container"> <i class="fa-solid fa-bars first-menubar"></i> </button> -->

  <div class="header_area ">
    <div class="container">
      <div class="row first-head-row">

        <div class="sidebar-tagline 123">
          <h2>Welcome To Bir Tikendrajit University</h2>
          <p>Complete Learning Management <br>Solution Process</p>
        </div>

        <div class="col-lg-4 col-md-3 bir_logo">
          <a href="/">
            <img src="images/logo/logo.png">
            <h4>Bir Tikendrajit University </h4>
            <p>Complete Learning Management <br>Solution Process</p>
          </a>
        </div>
        <div class="col-lg-8 col-md-9 p-0 res-size">
          <div class="show-first-menu">



            <ul class="nav navbar-nav navbar-right top-side-menu">

              <li class="call-container" style="display:none">
                <div class="header-call"> <i class="fa-solid fa-headset header-menu-img-res"></i>
                </div> <a class="call-an" href="tel:+918810588341">8810588341 | (10 AM to 5 PM)</a>
              </li>
            </ul>

            <ul class="nav navbar-nav top-side-menu navbar-right">
              <li class="active">
                <a href="https://www.birtikendrajituniversity.ac.in/student-corner/" target="_blank">
                  <div>
                    <img src="images/header/employee-log.png" class="header-menu-img" alt="USBTU">
                  </div>
                  <div class="top-h-title"> Student Login </div>
                </a>
              </li>
              <li>
                <a href="https://www.birtikendrajituniversity.ac.in/faculty_login" target="_blank">
                  <div>
                    <img src="images/header/college.png" class="header-menu-img" alt="USBTU">
                  </div>
                  <div class="top-h-title"> Faculty Login </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="header_Area">
      <div class="uni_mainWrapper_right_overlay">
        <div class="uni_header_menu">
          <div class="welcome-header">Welcome To United States Bir Tikendrajit University</div>
          <div class="container">
            <div class="row">
              <div class="nav_bar" style="display:none"><i class="fa-solid fa-caret-down second-menubar"></i> </div>
              <ul class="uni_header_menu_main" style="float: right;">
                <li><a href="/">Home</a></li>
                <li><a href="/about-us">About Us</a></li>
                <li><a href="/courses">Courses</a></li>
                <li><a href="/contact-us">Conatct us</a></li>
                <li><a target="_blank" href="documents/Brochure2023.pdf">Brochure</a>
                </li>
                <!-- <li class="mob_help_desk">Helpline Number : <a href="tel:+918810588341">8810588341</a> |
                  (10 AM to 5 PM)</li> -->

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="uni_news_media" is-home-page="isHomePage">
    <div class="uni_latest_marques">
      <marquee onmouseover="this.stop();" onmouseout="this.start();">
        January 2024 result has been declared on website.
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        For Industrial collaboration Please reach us at : 7838195809
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </marquee>
    </div>
  </div>

</div>